/* Typography */
#wrapper {
	overflow: hidden;
	position: relative;
}


html {
	box-sizing: border-box;
	font-family: var(--base-font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--base-background-color);
  color: var(--base-text-color);
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
	max-width: 1200px;
	min-width: 320px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
	font-family: var(--headings-font-family);
	font-weight: var(--headings-font-weigth);
	margin: 0 0 15px 0;
	color: var(--headings-color);
	text-transform: none;
}

h1, .h1 {
	font-size: var(--h1-font-size);
}

h2, .h2 {
	font-size: var(--h2-font-size);
}

h3, .h3 {
	font-size: var(--h3-font-size);
}

h4, .h4 {
	font-size: var(--h4-font-size);
}

h5, .h5 {
	font-size: var(--h5-font-size);
}

h6, .h6 {
	font-size: var(--h6-font-size);
}


p {
	margin: 0 0 1em;
}

p:last-child {
	margin-bottom: 0;
}

a {
	color: var(--base-link-color);
	text-decoration: none;
  cursor: pointer;
  transition: var(--animation-speed);
}

a:hover, 
a:focus {
  outline: none;
  text-decoration: underline;
  color: var(--base-link-color);
}

img {
	width: 100%;
}

.btn {
	padding: var(--btn-padding);
	border: 2px solid var(--btn-border-color);
	background-color: var(--btn-background);
	font-family: var(--base-font-family);
	font-weight: var(--btn-font-weigth);
	font-size: var(--btn-font-size);
	color: var(--btn-color);
	margin: 0 0 5px;
	transition: var(--animation-speed);
	display: inline-block;
	text-transform: uppercase;
	min-width: 170px;
}

.btn:hover {
  background-color: var(--btn-border-color);
  color: var(--btn-background);
}

ol, ul {
	padding-left: 18px;
	margin-top: 0;
}

/* .input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
	background-color: #f2eee9;
	width: 100%;
	font-size: 12px;
	outline-color: var(--orange);
}

textarea {
	height: 103px;
	resize: none;
} */


/* header styles */
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	z-index: 2;
	padding: 20px 0;
}


.logo-holder {
	max-width: 446px;
	width: 65%;
}

.languages-holder {
	display: flex;
	font-weight: 500;
	margin-bottom: 10px;
}

.languages-holder .ua-lang,
.languages-holder .eng-lang {
	display: flex;
	color: var(--base-text-color);
}

.languages-holder .ua-lang:hover,
.languages-holder .ua-lang:active,
.languages-holder .ua-lang:focus,
.languages-holder .eng-lang:hover,
.languages-holder .eng-lang:active,
.languages-holder .eng-lang:focus  {
	color: var(--base-link-color);
	text-decoration: none;
}

.ua-lang .lang-img {
	margin-right: 5px;
} 
.lang-img {
	width: 27px;
}

.languages-holder .lang-text {
	display: none;
}

.ua-lang.active, .ua-lang.active .underline:before,
.eng-lang.active, .eng-lang.active .underline:before {
	color: var(--base-link-color);
	opacity: 1;
}

.contact-holder {
	display: none;
}

.social-holder {
	display: none;
}

.dropdown {
	display: inline-block;
}

.dropdown-icon {
	width: 40px;
	height: 3px;
	display: inline-block;
	position: relative;
	background-color: var(--blue);
	margin: 8px 0;
}

.dropdown-icon:before,
.dropdown-icon:after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: var(--blue);
	top: -8px;
}

.dropdown-icon:after {
	top: 8px;
}

.navbar {
	position: relative;
	text-transform: uppercase;
}

.navigation {
	flex-direction: column;
	padding-left: 0;
	margin: 0;
	padding: 10px 15px;
	z-index: 2;
	background-color: var(--white);
	width: 100%;
	font-weight: 500;
}

.navigation-item {
	list-style-type: none;
	
}

.navigation-item .navigation-link {
	padding: 5px 0;
	margin-bottom: 10px;
	display: inline-block;
	color: var(--base-text-color);
	width: 100%;
	position: relative;
}

.navigation-item .navigation-link:hover,
.navigation-item .navigation-link:active,
.navigation-item .navigation-link:focus {
	text-decoration: none;
	color: var(--blue);
}

.underline:before {
	display: inline-block;
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	background-color: var(--blue);
	opacity: 0;
	transition: var(--animation-speed);
}

.bg-wrapper.bg-img {
	top: -5%;
	right: -3%;
	z-index: -1;
	width: 50%;
}

/* section-hero */
.section {
	padding: 25px 0 15px;
	position: relative;
}

.hero-list {
	text-transform: uppercase;
	color: var(--blue);
	font-weight: var(--headings-font-weigth);
	font-size: 20px;
	margin-top: 0;
	padding-left: 20px;
}

.section-hero .bg-img {
	display: none;
}

.bg-img {
	position: absolute;
}

.section-hero.underline:before {
	opacity: 1;
	top: 0;
	height: 2px;
}

/* section-about */
.section-about {
	padding: 20px 0 25px 15px;
	font-weight: 500;
}

.section-about .underline:before {
	height: calc(100% - 40px);
	width: 3px;
	left: 0;
	opacity: 1;
	bottom: 50%;
  transform: translate(50%, 50%);
}

@media (min-width: 425px) {
	.hero-list {
		font-size: 24px;
		padding-left: 22px;
	}
}

@media (min-width: 768px) {
	h1, .h1 {
		font-size: 36px;
	}
	
	h2, .h2 {
		font-size: 22px;
	}
	
	h3, .h3 {
		font-size: 20px;
	}
	
	h4, .h4 {
		font-size: 18px;
	}
	
	h5, .h5 {
		font-size: 16px;
	}
	
	h6, .h6 {
		font-size: 14px;
	}

	.header-top {
		padding: 30px 0;
	}

	.container {
		padding: 0 40px;
	}

	.logo-holder {
		width: 40%;
	}

	.languages-holder .lang-text {
		display: block;
		position: relative;
	}
	.languages-holder .ua-lang {
		margin-right: 15px;
	}
	.eng-lang .lang-img {
		margin-right: 5px;
	} 

	.languages-holder .ua-lang:hover .underline:before,
	.languages-holder .ua-lang:active .underline:before,
	.languages-holder .ua-lang:focus .underline:before,
	.languages-holder .eng-lang:hover .underline:before,
	.languages-holder .eng-lang:active .underline:before,
	.languages-holder .eng-lang:focus .underline:before {
		opacity: 1;
	}

	.section-hero {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.hero-list {
		font-size: 30px;
		z-index: 1;
		padding-left: 26px;
	}

	.section-hero .bg-img {
		display: block;
		position: absolute;
		transform: rotate(180deg);
		z-index: -1;
	}

	.section-hero .bg-img-1 {
		width: 65px;
		top: 10%;
    left: 40%;
	}
	
	.section-hero .bg-img-2 {
		width: 65px;
		top: 70%;
    left: 10%;
	}
	
	.section-hero .bg-img-3 {
		width: 30px;
		top: 67%;
    left: 34%;
	}
	
	.section-about {
		padding: 25px 30px;
	}

	.section-about .underline:before {
		height: calc(100% - 50px);
	}
	
}

@media (min-width: 1024px) {
	.bg-wrapper.bg-img {
		width: 40%;
	}

	.social-holder {
		display: flex;
		flex-direction: column;
	}

	.social-holder a {
		display: block;
	}
	
	.social-holder .social-link {
		width: 44px;
		margin-bottom: 10px;
	}


	.social-holder .social-link:last-child {
		margin-bottom: 0;
	}

	.contact-holder {
		display: block;
		font-weight: 500;
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: right;
		text-decoration: none;
		font-size: 17px;
	}

	.contact-holder a {
		color: var(--base-text-color);
		position: relative;
	}

	.contact-holder a:hover,
	.contact-holder a:active,
	.contact-holder a:focus,
	.contact-holder a:hover,
	.contact-holder a:active,
	.contact-holder a:focus  {
		color: var(--base-link-color);
		text-decoration: none;
	}

	.contact-holder a:hover.underline:before,
	.contact-holder a:active.underline:before,
	.contact-holder a:focus.underline:before,
	.contact-holder a:hover.underline:before,
	.contact-holder a:active.underline:before,
	.contact-holder a:focus.underline:before {
		opacity: 1;
	}

	.navigation {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: transparent;
		box-shadow: none;
		position: relative;
		padding: 10px 0 15px;
	}

	.dropdown {
		display: none;
	}
	
	.navigation-item .navigation-link {
		padding: 5px 8px;
		width: auto;
	}
	
	.languages-holder .eng-lang {
		margin-right: 15px;
	}

	.hero-list {
		font-size: 36px;
		padding-left: 30px;
	}

	.section-hero .bg-img-1 {
		width: 88px;
		left: 35%;
	}
	
	.section-hero .bg-img-2 {
		width: 88px;
		bottom: 0;
		top: auto;
		left: 7%;
	}
	
	.section-hero .bg-img-3 {
		width: 42px;
		top: 68%;
		left: 25%;
	}
}

@media (min-width: 1200px) {
	.navigation {
		font-size: var(--h3-font-size);
	}
}